absl-py 
aiohttp 
aiosignal 
astunparse
async-timeout 
attrs 
blinker
Brotli
cached-property 
cachetools 
certifi 
cffi 
charset-normalizer 
click 
contourpy 
cryptography 
cycler
fenics-dijitso
fenics-dolfin 
fenics-ffc 
fenics-fiat
fenics-ufl 
flatbuffers==2.0.7
flax==0.3.3
fonttools 
frozenlist 
gast 
gmpy2 
google-auth
google-auth-oauthlib 
google-pasta==0.2.0
grpcio 
h5py 
idna 
importlib-metadata 
importlib-resources 
jax==0.2.20
jaxlib==0.1.75
keras
kiwisolver 
Markdown
MarkupSafe
matplotlib 
ml-dtypes
mpi4py
mpmath 
msgpack==1.0.7
mshr 
multidict 
munkres==1.1.4
numpy 
oauthlib 
opt-einsum 
packaging 
petsc4py
Pillow 
pkgconfig 
ply==3.11
protobuf==4.23
pyasn1 
pyasn1-modules 
pybind11 
pybind11-global 
pycparser 
PyJWT 
pyOpenSSL
pyparsing 
PyQt5==5.15.9
PyQt5-sip==12.12.2
PySocks 
python-dateutil
pyu2f 
requests 
requests-oauthlib
rsa
SciPy 
sip 
six 
slepc4py 
sympy 
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
termcolor 
toml 
tomli 
tornado 
typing_extensions 
unicodedata2 
urllib3 
Werkzeug 
wrapt 
yarl 
zipp 
